div {
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  margin: 25px;
  border: 4px solid black;
  line-height: 100px;
  text-align: center;
  width: 200px;
  height: 200px;
}

body {
  margin: 100px auto;
  width: max-content;
}

/* styling the first box*/
#A {
  border-color: blueviolet;
  box-shadow: 11px 11px 10px red;
}

/* styling the second box*/
#B {
  border-color: rgb(51, 255, 0);
  box-shadow: 9px 9px 8px rgb(0, 0, 0) inset;
}

/* styling the third box*/
#C {
  border: 1px solid;
  padding: 10px;
  box-shadow: 0px 0px 0px 5px orange ,
  0px 0px 0px 15px blue,
  0px 0px 0px 25px red,
  0px 0px 0px 35px green;
  border-radius: 25px;
}

/* styling the last box*/
#D{
  border-color: rgb(150, 28, 28);
  text-shadow: 5px 5px 1px;

}
