*{
    box-sizing : border-box;
}

/* Background color Styling */
html {
    height: 450%;
    background: linear-gradient(to bottom, #3f3c38, #945f3b);
    background-repeat: no-repeat;
  }
  /* Body Styling */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center; 
    border: 2px solid #ea6f11; 
    padding: 20px; 
    width: 100%; 
    margin: 2 auto; 
  }


/* styling the main page */
/* Navigation Styling */
nav{
    background: #211e1b;
    width: 100%;
    overflow:auto;
}
nav ul{
    margin: 0;
    padding:0;
    list-style: none;
}
nav li{
    float:left;

}
nav a{
    width:120px;
    display:block;
    text-decoration: none;
    text-align: center;
    background: #211e1b;
    font-size: 17px;
    color: white;
    padding:20px 10px;
    font-family: Arial, Helvetica, sans-serif;
}
nav a:hover{
    background-color: #ea6f11;
    color: black;
}

/* Main Content Styling */
.content{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}
/* styling the title of the movie */
.content h1{
  color: black;
  width: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150px;
  text-decoration: none;
  text-shadow: 2px 2px #211e1b;
}
.content h1:hover{
    -webkit-text-stroke: 2px #ea6f11;
    color: transparent;
}

/* Overview section Styling */
p{
    text-align: left;
    position: absolute;
    top:150%;
    left:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size:17px;
}
h2{
    color:#000000;
    text-align: left;
    position: absolute;
    top:130%;
    left:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size:50px;
}
/* styling the lines between the texts*/
.line p{
  color:#ff6f00;
  align-items: left;
  position: absolute;
  top:144%;
}


/* Cast section Styling */
h3{
    color:#000000;
    text-align:left;
    position: absolute;
    top:180%;
    left:0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size:50px;
}
.position {
  text-align: left;
  position: absolute;
  top:230%;
  left:10%;
  font-size: 17px;

}
th{
  color: #ea6f11;
}
.position th , td a {
    color: #000000; 
    text-decoration: none; 
}
.position th , td a:hover {
    color: #ea6f11; 
}
/* styling the table */
table, th, td {
  border: 1px solid; 
}
table {
  width: 70%;
  text-align: left;
}
#Cast table{
  position: absolute;
  top: 210%; 
  left: 0%;
}
/* styling the lines between the texts*/
.line1 p{
  color:#ff6f00;
  align-items: left;
  position: absolute;
  top:195%;
}


/* Review section Styling */
h4{
    color:#000000;
    text-align: left;
    position: absolute;
    top:250%;
    left:0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size:50px; 
}
#Reviews p{
    text-align: left;
    position: absolute;
    top:280%;
    left:0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size:17px;
}
#Reviews h5{
    text-align: left;
    position: absolute;
    top:273%;
    left:0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size:17px;
}
.Damsel {
    text-align: left;
    position: absolute;
    top:310%;
    left:0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size:17px;
}

h6{
    text-align: left;
    position: absolute;
    top:297%;
    left:0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size:17px;
}
/* styling the lines between the texts*/
.line2 p{
  color:#ff6f00;
  align-items: left;
  position: absolute;
  top:267%;
}


  
/* netflix button Styling */
.container a{
    align-items: center;
    text-decoration: none;
    display: inline-block;
    color: #000000;
    position: absolute;
    top: 70%;
    left: 40%;
    font-size: 24px;
    border: 2px solid #000000;
    padding: 10px 40px;
    border-radius: 50px;
    margin-top: 5px;
}
.container a:hover{
    background-color: #000000;
    color: #ea6f11;

}

/*key information styling*/
/* Paragraphs in the information section */
.viewership h3{
  color:#000000;
  text-align: left;
  position: absolute;
  top:335%;
  left:0%;
  font-family: Arial, Helvetica, sans-serif;
  font-size:45px; 
}
.viewership p{
  text-align: left;
  position: absolute;
  top:359%;
  left:0%;
  font-family: Arial, Helvetica, sans-serif;
  font-size:17px;
}
/* styling the lines between the texts*/
.line3 p{
  color:#ff6f00;
  align-items: left;
  position: absolute;
  top:350%;
 }

/* paragraph in the main page */
.end p{
  text-align: center;
  position: absolute;
  top:100%;
  left: 4%;
  font-family: Arial, Helvetica, sans-serif;
  font-size:17px;
}

 /* Styling for the 'film-info' class list */
.film-info ul {
  list-style-type: none;
  padding: 0;
  position: absolute;
  text-align: left;
  top:380%;
}

/* Styling for the 'film-info' class list items */
.film-info li {
  margin-bottom: 5px;
}

/* Styling for the 'strong' elements within 'film-info' */
.film-info strong {
  color: #ea6f11;
}