/* Apply box-sizing to all elements */
*{
  box-sizing : border-box;
}

/* background color for the entire page */
html {
  height: 200%;
  background: linear-gradient(to bottom, #3f3c38, #945f3b);
  background-repeat: no-repeat;
}

/* Global styling for the body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center; 
  border: 2px solid #ea6f11; 
  padding: 20px; 
  width: 100%; 
  margin: 2 auto; 
}


/* Styling the navigation bar */
nav{
  background: #211e1b;
  width: 100%;
  overflow:auto;
}
/* Styling the navigation bar */
nav ul{
  margin: 0;
  padding:0;
  list-style: none;
}
/* Styling the navigation list items */
nav li{
  float:left;

}
/* Styling the navigation links */
nav a{
  width:120px;
  display:block;
  text-decoration: none;
  text-align: center;
  background: #211e1b;
  font-size: 17px;
  color: white;
  padding:20px 10px;
  font-family: Arial, Helvetica, sans-serif;
}
/* Styling for navigation links on hover */
nav a:hover{
  background-color: #ea6f11;
  color: black;
}
/* Styling for the content section */
.content{
text-align: center;
position: absolute;
top: 50%;
left: 30%;
transform: translate(-50%, -50%);
}


/* Styling for the movie title */
.content h1{
color: black;
width: 50px;
font-family: Arial, Helvetica, sans-serif;
font-size: 150px;
text-decoration: none;
text-shadow: 2px 2px #211e1b;
}
/* Hover effect for the movie title */
.content h1:hover{
  -webkit-text-stroke: 2px #ea6f11;
  color: transparent;
}

/* Overview section */
h2{
  color:#000000;
  text-align: left;
  position: absolute;
  top:30%;
  left:0;
  font-family: Arial, Helvetica, sans-serif;
  font-size:50px;
}
/* Paragraphs in the overview section */
p{
  text-align: left;
  position: absolute;
  top:50%;
  left:0;
  font-family: Arial, Helvetica, sans-serif;
  font-size:17px;
}
/* styling the lines between the texts*/
.line p{
color:#ff6f00;
align-items: left;
position: absolute;
top:44%;
}
.p1{
  text-align: left;
  position: absolute;
  top:60%;
  left:0;
  font-family: Arial, Helvetica, sans-serif;
  font-size:17px;
}
.summary h6{
  color:#000000;
  text-align: left;
  position: absolute;
  top:70%;
  left:0;
  font-family: Arial, Helvetica, sans-serif;
  font-size:30px;
}
/* paragraph summary*/
.p11 p{
  text-align: left;
  position: absolute;
  top:90%;
  left:0;
  font-family: Arial, Helvetica, sans-serif;
  font-size:17px;
}
.p2 p{
  text-align: left;
  position: absolute;
  top:95%;
  left:0;
  font-family: Arial, Helvetica, sans-serif;
  font-size:17px;
}
.p3 p{
  text-align: left;
  position: absolute;
  top:110%;
  left:0;
  font-family: Arial, Helvetica, sans-serif;
  font-size:17px;
}
.p4 p{
  text-align: left;
  position: absolute;
  top:124%;
  left:0;
  font-family: Arial, Helvetica, sans-serif;
  font-size:17px;
}
.p5 p{
  text-align: left;
  position: absolute;
  top:139%;
  left:0;
  font-family: Arial, Helvetica, sans-serif;
  font-size:17px;
}
.p6 p{
  text-align: left;
  position: absolute;
  top:150%;
  left:0;
  font-family: Arial, Helvetica, sans-serif;
  font-size:17px;
}
.p7 p{
  text-align: left;
  position: absolute;
  top:160%;
  left:0;
  font-family: Arial, Helvetica, sans-serif;
  font-size:17px;
}
.p8 p{
  text-align: left;
  position: absolute;
  top:179%;
  left:0;
  font-family: Arial, Helvetica, sans-serif;
  font-size:17px;
}


/*cast section */
h3{
  color:#000000;
  text-align:left;
  position: absolute;
  top:30%;
  left:0%;
  font-family: Arial, Helvetica, sans-serif;
  font-size:50px;
}
/* Paragraphs in the cast section */
.position {
text-align: left;
position: absolute;
top:50%;
left:10%;
font-size: 17px;

}

.position th , td a {
  color: #000000; 
  text-decoration: none; 
}
.position th , td a:hover {
  color: #ea6f11; 
}

/* styling the table in cast section*/
table, th, td {
border: 1px solid; 
}
table {
width: 70%;
text-align: left;
}
#Cast table{
position: absolute;
top: 60%; 
left: 0%;
}
th{
  color: #ea6f11;
}

/* styling the lines between the texts*/
.line1 p{
color:#ff6f00;
align-items: left;
position: absolute;
top:120%;
}

/* style the name of the actress*/
.cast h5{
  color:#000000;
  text-align:left;
  position: absolute;
  top:100%;
  left:0%;
  font-family: Arial, Helvetica, sans-serif;
  font-size:50px;
}

/* styling the paragraph in cast section */
.cast p{
text-align: left;
position: absolute;
top:130%;
left:0%;
font-size: 17px;
}
.elodie p{
text-align: left;
position: absolute;
top:140%;
left:0%;
font-size: 17px;
}
.elodie2 p{
  text-align: left;
  position: absolute;
  top:150%;
  left:0%;
  font-size: 17px;
  }
.elodie3 p{
  text-align: left;
  position: absolute;
  top:160%;
  left:0%;
  font-size: 17px;
}


/* reviews section*/
h4{
  color:#000000;
  text-align: left;
  position: absolute;
  top:25%;
  left:0%;
  font-family: Arial, Helvetica, sans-serif;
  font-size:50px; 
}
/* Paragraphs in the review section */
#Reviews p{
  text-align: left;
  position: absolute;
  top:55%;
  left:0%;
  font-family: Arial, Helvetica, sans-serif;
  font-size:17px;
}
#Reviews h5{
  text-align: left;
  position: absolute;
  top:47%;
  left:0%;
  font-family: Arial, Helvetica, sans-serif;
  font-size:17px;
}

.Damsel {
  text-align: left;
  position: absolute;
  top:80%;
  left:0%;
  font-family: Arial, Helvetica, sans-serif;
  font-size:17px;
}

h6{
  text-align: left;
  position: absolute;
  top:67%;
  left:0%;
  font-family: Arial, Helvetica, sans-serif;
  font-size:17px;
}
/* styling the lines between the texts*/
.line2 p{
color:#ff6f00;
align-items: left;
position: absolute;
top:40%;
}
/* Paragraphs in the review section */
.pp p{
  text-align: left;
  position: absolute;
  top:160%;
  left:0%;
  font-family: Arial, Helvetica, sans-serif;
  font-size:17px;
}
/* styling the lines between the texts*/
.line8 p{
  color:#ff6f00;
  align-items: left;
  position: absolute;
  top:140%;
  }
  /* Paragraphs in the review section */
.review p{
    text-align:left;
    position: absolute;
    top:100%;
    left:0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size:17px;
}
.review h5{
  text-align: left;
  position: absolute;
  top:90%;
  left:0%;
  font-family: Arial, Helvetica, sans-serif;
  font-size:17px;
}

/* netflix button */
.container a{
  align-items: center;
  text-decoration: none;
  display: inline-block;
  color: #000000;
  position: absolute;
  top: 70%;
  left: 40%;
  font-size: 24px;
  border: 2px solid #000000;
  padding: 10px 40px;
  border-radius: 50px;
  margin-top: 5px;
}
.container a:hover{
  background-color: #000000;
  color: #ea6f11;

}

/* key information section*/
.viewership h3{
color:#000000;
text-align: left;
position: absolute;
top:30%;
left:5%;
font-family: Arial, Helvetica, sans-serif;
font-size:40px; 
}
/* Paragraphs in the information section */
.viewership p{
text-align: left;
position: absolute;
top:70%;
left:0%;
font-family: Arial, Helvetica, sans-serif;
font-size:17px;
}
/* styling the lines between the texts*/
.line3 p{
color:#ff6f00;
align-items: left;
position: absolute;
top:40%;
}
/* Paragraphs in the information section */
.viewership h5{
  color:#000000;
  text-align: left;
  position: absolute;
  top:50%;
  left:0%;
  font-family: Arial, Helvetica, sans-serif;
  font-size:30px; 
}

.info h5{
color:#000000;
text-align: left;
position: absolute;
top:90%;
left:0%;
font-family: Arial, Helvetica, sans-serif;
font-size:30px; 
} 
.info p{
  text-align: left;
  position: absolute;
  top:110%;
  left: 0%;
  font-family: Arial, Helvetica, sans-serif;
  font-size:17px;
}

/* paragraph in the main page */
.end p{
    text-align: center;
    position: absolute;
    top:100%;
    left: 4%;
    font-family: Arial, Helvetica, sans-serif;
    font-size:17px;
}


/* Styling for the 'film-info' class list */
.film-info ul {
  list-style-type: none;
  padding: 0;
  position: absolute;
  text-align: left;
  top:120%;
}

/* Styling for the 'film-info' class list items */
.film-info li {
  margin-bottom: 5px;
}

/* Styling for the 'strong' elements within 'film-info' */
.film-info strong {
  color: #ea6f11;
}
/* styling the lines between the texts*/
.line10 p{
  color:#ff6f00;
  align-items: left;
  position: absolute;
  top:110%;
  }